# Archivos de configuración de Cypress
/cypress.json
/cypress.env.json

# Resultados de pruebas y capturas de pantalla
/cypress/screenshots/
/cypress/videos/
/mochawesome-report/

# Archivos de respaldo y temporales
/.DS_Store
/Thumbs.db

# Dependencias y archivos generados
/node_modules/
/package-lock.json
/yarn.lock

# Archivos de desarrollo y configuración de herramientas
/.vscode/
/.idea/
/.eslintrc
/.prettierrc

# Otros archivos y directorios generados
/cypress/fixtures/
/cypress/plugins/
/cypress/support/
/cypress/videos/

# Archivos de registro y salida
/cypress/logs/
/output/

# Directorio de respaldo de ejecuciones anteriores
/cypress/reports/

# Variables de entorno locales
/.env
.env.local
.env.*.local
.env.test.local


# Cualquier otro archivo o directorio específico de tu proyecto que no sea necesario en el repositorio
